<div class="container">
  <div id="contain-non-fluid">
    <!-- HERO -->
    <div class="hero">
      <h1 class="title strokeme"> Brain <i class="fab fa-envira logo"></i> Buffet! </h1>
      <h2 *ngIf="!_participant?.name" class="subtitle">The game for brainiacs</h2>
    </div>

    <!-- User Connected Menu -->
    <div class="dropdown pull-right" *ngIf="_participant?.name">
      <button class="dropbtn">
        <span class="logged-in">
          <i class="fas fa-user-circle"></i> {{_participant?.name}} -
          <i [ngClass]="roleClass(_participant?.role)"></i>
        </span>
      </button>
      <div class="dropdown-content" id="menu-items">
        <a href="javascript:void(0);" (click)="quitRole_click()"><i class="fas fa-window-close"></i> Quit Role</a>
        <a *ngIf="_participant?.role=='host'" href="javascript:void(0);" (click)="resetRound_click()">Reset Round (new game)</a>
      </div>
    </div>

    <div class="main">
      <!-- BEGIN enter name and connect-->
      <div class="flex-container-centerh top-space" *ngIf="_startupState=='begin'">
        <div class="flex-container-centerv">
          <div *ngIf="!_loading" class="flex-container-col">
            <div><input class="big-input" type="text" [(ngModel)]="_playerName" placeholder="Your Name Here" (keydown)="keyDown($event)" /></div>
            <h2 class="btn-large" (click)="start_click()">START</h2>
          </div>
          <div *ngIf="_loading" class="flex-container-col">
            <div class="player-name">{{_playerName}}</div>
            <h4 style="text-align:center">Stand by while we teleport into your brain!</h4>
            <div class="loader">Loading...</div>
          </div>
        </div>
      </div>

      <!-- CHOOSE a role -->
      <div class="flex-container-centerh  top-space" *ngIf="_startupState=='chooser'">
        <div class="flex-container-centerv">
          <div class="flex-container-col">
            <div>
              <div class="player-name">
                {{_playerName}}
              </div>
              <h3 style="text-align:center;">
                Choose your role.
              </h3>
            </div>
            <div>
              <h4 *ngIf="!_gameSession.host" class="btn" (click)="join_click('host')">
                <i class="fas fa-microphone-alt"></i> Host <span class="badge">1</span>
              </h4>
              <h4 *ngIf="_gameSession.host" class="btn-disabled">
                <i class="fas fa-microphone-alt"></i> {{_gameSession?.host?.name}}
              </h4>
              <h4 [ngClass]="isDisabledBtn(_gameSession?.team1?.isFull)" (click)="join_click('team1')">
                <i class="fab fa-rebel"></i> Team 1 <span class="badge">{{_gameSession?.team1?.available}}</span>
              </h4>
              <h4 [ngClass]="isDisabledBtn(_gameSession?.team2?.isFull)" (click)="join_click('team2')">
                <i class="fab fa-empire"></i> Team 2  <span class="badge">{{_gameSession?.team2?.available}}</span>
              </h4>
              <h4 class="btn" (click)="join_click('spectator')">
                <i class="fas fa-users"></i> Spectator <span class="badge">{{_gameSession?.spectators?.length}}</span>
              </h4>
            </div>
          </div>
        </div>
      </div>

      <!-- HOST Page -->
      <div class="flex-container-centerh" *ngIf="_startupState=='host'">
        <div class="flex-container-centerv" style="width:95%">
          <div class="flex-container-col" style="text-align:center">
            <h2>HOST <i [ngClass]="roleClass(_participant?.role)"></i></h2>
          </div>
          <div class="flex-container-justifyh top-space-half">
            <!-- Team 1 Scores -->
            <div id="team1">
              <table class="team">
                <thead>
                  <tr><th colspan="2">Team 1 <i class="fab fa-rebel"></i></th></tr>
                </thead>
                <tbody>
                  <tr *ngFor="let member of _gameSession.team1?.members">
                    <td colspan="2">{{member.name}}</td>
                  </tr>
                  <tr>
                    <td><strong>Score:</strong></td>
                    <td><strong>{{_gameSession?.team1?.score}}</strong></td>
                  </tr>
                </tbody>
              </table>
              <div class="flex-container-centerh" *ngIf="_question?.reveal">
                <div class="score-btn" (click)="score_click('team1',-1)"> -1 </div>
                <div class="score-btn" (click)="score_click('team1',+1)"> +1 </div>
              </div>
              <div *ngIf="_gameSession?.team1Guess" class="team1-guess">
                {{_gameSession?.team1Guess}}
              </div>
            </div>
            <!-- Next Question Button -->
            <div id="next-button">
              <div class="btn" href="javascript:void(0)" (click)="getRandomQuestion_click()">Next Question</div>
            </div>
            <!-- Team 2 Scores -->
            <div id="team2">
              <table class="team" id="team2">
                <thead>
                  <tr><th colspan="2">Team 2 <i class="fab fa-empire"></i></th></tr>
                </thead>
                <tbody>
                  <tr *ngFor="let member of _gameSession.team2?.members">
                    <td colspan="2">{{member.name}}</td>
                  </tr>
                  <tr>
                    <td><strong>Score:</strong></td>
                    <td><strong>{{_gameSession?.team2?.score}}</strong></td>
                  </tr>
                </tbody>
              </table>
              <div class="flex-container-centerh" *ngIf="_question?.reveal">
                <div class="score-btn" (click)="score_click('team2',-1)"> -1 </div>
                <div class="score-btn" (click)="score_click('team2',+1)"> +1 </div>
              </div>
              <div *ngIf="_gameSession?.team2Guess" class="team2-guess">
                {{_gameSession?.team2Guess}}
              </div>
            </div>

          </div>

          <!-- GAME AREA -->
          <div class="flex-container-centerh" style="width:100%">
            <div class="flex-container-col">
              <div class="game-container" *ngIf="_question">
                <p class="game-text">{{_questionNumber}} - {{_question.round}}</p>
                <p class="answer-text">{{_question.category}}  - {{_question.value}}</p>
                <img class="game-image" *ngIf="_question?.mediaType=='image'" src="{{_question?.mediaUrl}}" />
                <audio *ngIf="_question?.mediaType=='audio'" src="{{_question?.mediaUrl}}" ></audio>
                <video *ngIf="_question?.mediaType=='video'" src="{{_question?.mediaUrl}}" ></video>
                <p *ngIf="!_question?.media"  class="game-text">{{_question?.questionText}}</p>
                <p *ngIf="_question?.media" class="game-text" [innerHTML]="_question?.questionText"></p>
                <div class="btn" *ngIf="!_question?.pushed" (click)="push_click(_question)">Push to contestants</div>
                <div class="btn reveal-btn" *ngIf="_question?.pushed && !_question?.reveal" (click)="reveal_click()">Reveal answer</div>
                <div class="answer-text" *ngIf="_question?.reveal">
                  {{_question?.answerText}}
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <!-- TEAM page -->
      <div class="flex-container-centerh" *ngIf="_startupState=='team1' || _startupState=='team2'">
        <div class="flex-container-centerv" style="width:90%">
          <div class="flex-container-col" style="text-align:center">
            <h2 class="capitalize">{{_participant?.role}} <i [ngClass]="roleClass(_participant?.role)"></i></h2>
          </div>
          <div class="flex-container-justifyh top-space-half">
            <!-- Team 1 Scores -->
            <div id="team1">
              <table class="team" id="team1">
                <thead>
                  <tr><th colspan="2">Team 1 <i class="fab fa-rebel"></i></th></tr>
                </thead>
                <tbody>
                  <tr *ngFor="let member of _gameSession.team1?.members">
                    <td colspan="2">{{member.name}}</td>
                  </tr>
                  <tr>
                    <td><strong>Score:</strong></td>
                    <td><strong>{{_gameSession?.team1?.score}}</strong></td>
                  </tr>
                </tbody>
              </table>
              <div *ngIf="_gameSession?.team1Guess" class="team1-guess">
                {{_gameSession?.team1Guess}}
              </div>
            </div>
            <!-- Team 2 Scores -->
            <div id="team2">
              <table class="team" id="team2">
                <thead>
                  <tr><th colspan="2">Team 2 <i class="fab fa-empire"></i></th></tr>
                </thead>
                <tbody>
                  <tr *ngFor="let member of _gameSession.team2?.members">
                    <td colspan="2">{{member.name}}</td>
                  </tr>
                  <tr>
                    <td><strong>Score:</strong></td>
                    <td><strong>{{_gameSession?.team2?.score}}</strong></td>
                  </tr>
                </tbody>
              </table>
              <div *ngIf="_gameSession?.team2Guess" class="team2-guess">
                {{_gameSession?.team2Guess}}
              </div>
            </div>

          </div>

          <!-- GAME AREA -->
          <div class="flex-container-centerh top-space-half" style="width:100%">
            <div class="flex-container-col">
              <div class="game-container" *ngIf="_question">
                <p class="game-text">{{_questionNumber}} - {{_question.round}}</p>
                <p class="answer-text">{{_question.category}}  - {{_question.value}}</p>
                <img class="game-image" *ngIf="_question?.questionType=='image'" src="{{_question?.imageUrl}}" />
                <p class="game-text">{{_question?.questionText}}</p>
                <div class="answer-text" *ngIf="_question?.reveal">
                  {{_question?.answerText}}
                </div>
              </div>

              <!-- GUESS BOX FOR CAPTAIN -->
              <div style="margin-top:10px;" *ngIf="isCaptain() && _question && !_question.reveal">
                <label>You, as team captain, submits guess:</label>
                <div *ngIf="!_guessed" style="white-space:nowrap">
                  <input class="answer-box" [(ngModel)]="_guess" (keydown)="guessKeyDown($event)" />
                  <span class="btn-small" (click)="sendGuess_click()">submit</span>
                </div>
                <div *ngIf="_guessed" style="display:flex;justify-content:center">
                  <div  class="answer-text">{{_guess}}</div>
                </div>

              </div>
            </div>
          </div>

          <div>
            <!-- TEAM 1 CHAT -->
            <div class="chatbox" *ngIf="_participant.role=='team1'">
              <h4 class="capitalize"><i class="fas fa-comments"></i> {{_participant?.role}} chat </h4>
              <!-- Team 1 chat log-->
              <div id="team1-messages" class="chatbox-messages">
                <ul>
                  <li *ngFor="let m of _team1Messages?.slice().reverse()">
                    <span [ngClass]="chatBubble(m.isSelf)">
                      <strong *ngIf="!m.isSelf">{{m.name}}:</strong> {{m.message}}
                    </span>
                  </li>
                </ul>
              </div>
              <!-- Chat textbox -->
              <div style="white-space:nowrap">
                <input class="chatbox-input" type="text" [(ngModel)]="_chat" (keydown)="messageKeyDown($event)" />
                <a href="javascript:void(0)" class="send-btn" (click)="sendMessage_click()"><i class="fas fa-chevron-circle-right"></i></a>
              </div>
            </div>

            <!-- TEAM 2 CHAT -->
            <div *ngIf="_participant.role=='team2'" class="chatbox">
              <h4 class="capitalize"><i class="fas fa-comments"></i> {{_participant?.role}} chat </h4>
              <!-- Team 2 chat log-->
              <div id="team2-messages" class="chatbox-messages">
                <ul>
                  <li *ngFor="let m of _team2Messages?.slice().reverse()">
                    <span [ngClass]="chatBubble(m.isSelf)">
                      <strong *ngIf="!m.isSelf">{{m.name}}:</strong> {{m.message}}
                    </span>
                  </li>
                </ul>
              </div>
              <!-- Chat textbox -->
              <div style="white-space:nowrap">
                <input class="chatbox-input" type="text" [(ngModel)]="_chat" (keydown)="messageKeyDown($event)" />
                <a href="javascript:void(0)" class="send-btn" (click)="sendMessage_click()"><i class="fas fa-chevron-circle-right"></i></a>
              </div>
            </div>

          </div>
        </div>
      </div>

      <!-- SPECTATOR page -->
      <div class="flex-container-centerh" *ngIf="_startupState=='spectator'">
        <div class="flex-container-centerv" style="width:96%">
          <div class="flex-container-col" style="text-align:center">
            <h2>SPECTATOR <i [ngClass]="roleClass(_participant?.role)"></i></h2>
          </div>
          <div class="flex-container-justifyh top-space-half">
            <!-- Team 1 Scores -->
            <div id="team1">
              <table class="team">
                <thead>
                  <tr><th colspan="2">Team 1 <i class="fab fa-rebel"></i></th></tr>
                </thead>
                <tbody>
                  <tr *ngFor="let member of _gameSession.team1?.members">
                    <td colspan="2">{{member.name}}</td>
                  </tr>
                  <tr>
                    <td><strong>Score:</strong></td>
                    <td><strong>{{_gameSession?.team1?.score}}</strong></td>
                  </tr>
                </tbody>
              </table>
              <div *ngIf="_gameSession?.team1Guess" class="team1-guess">
                {{_gameSession?.team1Guess}}
              </div>
            </div>
            <!-- GAME AREA -->

            <div id="spectator-game-area" class="flex-container-col">
              <div class="game-container" *ngIf="_question">
                <p class="game-text">{{_questionNumber}} - {{_question.round}}</p>
                <p class="answer-text">{{_question.category}}  - {{_question.value}}</p>
                <img class="game-image" *ngIf="_question?.questionType=='image'" src="{{_question?.imageUrl}}" />
                <p class="game-text">{{_question?.questionText}}</p>
                <div class="answer-text" *ngIf="_question?.reveal">
                  {{_question?.answerText}}
                </div>
              </div>
            </div>

            <!-- Team 2 Scores -->
            <div id="team2">
              <table class="team" id="team2">
                <thead>
                  <tr><th colspan="2">Team 2 <i class="fab fa-empire"></i></th></tr>
                </thead>
                <tbody>
                  <tr *ngFor="let member of _gameSession.team2?.members">
                    <td colspan="2">{{member.name}}</td>
                  </tr>
                  <tr>
                    <td><strong>Score:</strong></td>
                    <td><strong>{{_gameSession?.team2?.score}}</strong></td>
                  </tr>
                </tbody>
              </table>
              <div *ngIf="_gameSession?.team2Guess" class="team2-guess">
                {{_gameSession?.team2Guess}}
              </div>
            </div>
          </div>



          <div class="flex-container-centerh" style="width:100%">
            <!-- TEAM 1 CHAT -->
            <div class="chatbox">
              <h4 class="capitalize"><i class="fas fa-comments"></i> Team 1 </h4>
              <!-- Team 1 chat log-->
              <div id="team1-messages" class="chatbox-messages">
                <ul>
                  <li *ngFor="let m of _team1Messages?.slice().reverse()">
                    <span [ngClass]="chatBubble(m.isSelf)">
                      <strong *ngIf="!m.isSelf">{{m.name}}:</strong> {{m.message}}
                    </span>
                  </li>
                </ul>
              </div>
            </div>

            <!-- SPECTATOR CHAT -->
            <div class="chatbox">
              <h4 class="capitalize"><i class="fas fa-comments"></i> Spectators </h4>
              <!-- Spectators chat log-->
              <div id="spectator-messages" class="chatbox-messages">
                <ul>
                  <li *ngFor="let m of _spectatorMessages?.slice().reverse()">
                    <span [ngClass]="chatBubble(m.isSelf)">
                      <strong *ngIf="!m.isSelf">{{m.name}}:</strong> {{m.message}}
                    </span>
                  </li>
                </ul>
              </div>
              <!-- Chat textbox -->
              <div style="white-space:nowrap">
                <input class="chatbox-input" type="text" [(ngModel)]="_chat" (keydown)="messageKeyDown($event)" />
                <a href="javascript:void(0)" class="send-btn" (click)="sendMessage_click()"><i class="fas fa-chevron-circle-right"></i></a>
              </div>
            </div>

            <!-- TEAM 2 CHAT -->
            <div class="chatbox">
              <h4 class="capitalize"><i class="fas fa-comments"></i> Team 2 </h4>
              <!-- Team 2 chat log-->
              <div id="team2-messages" class="chatbox-messages">
                <ul>
                  <li *ngFor="let m of _team2Messages?.slice().reverse()">
                    <span [ngClass]="chatBubble(m.isSelf)">
                      <strong *ngIf="!m.isSelf">{{m.name}}:</strong> {{m.message}}
                    </span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- ROUTER outlet -->
      <router-outlet></router-outlet>
    </div>

  </div>

</div>
